@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(images/TriOptimum_login.jpeg);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: fixed;
  }

          .topnav {
              overflow: hidden;
              background-color: #333;
            }
            
            .topnav a {
              float: left;
              color: #f2f2f2;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 17px;
              font-family: 'Raleway', sans-serif;
            }

            .dropdown {
              float: left;
              overflow: hidden;
            }

            .dropdown .dropbtn {
              font-size: 16px;
              border: none;
              outline: none;
              color: white;
              padding: 14px 16px;
              background-color: inherit;
              margin: 0; /* Important for vertical align on mobile phones */
            }
            
            .topnav a.active {
              background-color: rgb(41, 144, 179);
              color: white;
            }

            .topnav a:hover {
              background-color: rgb(56, 57, 97);
              color: white
            }

            .dropdown:hover {
              background-color: rgb(56, 57, 97);
              color: white;
            }

            .dropbtn {
              background-color: rgb(56, 57, 97);
              color:white;
            }
            
            .dropdown-content a:hover {
              background-color: rgb(56, 57, 97);
            }

            .dropdown-content {
              display: none;
              position: absolute;
              background-color: #333;
              min-width: 160px;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              z-index: 1;
            }


.dropdown:hover .dropdown-content {
  display: block;
}          

h1 {
color: cadetblue;
font-family: 'Raleway', sans-serif;
}

h2 {
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
/*background-color:rgba(255, 255, 255, 0.568)*/
}

.parabox {
  box-sizing: border-box;
  display: center;
  border: 5px ridge rgb(41, 144, 179);
  background-color:rgba(255, 255, 255, 0.678);
  padding: 10px;
}

.paratext {
  font-family: 'Raleway', sans-serif;
        color:black; 
        word-wrap: normal
}

            .newvideo {
                position: relative;
                /*padding: 0px 0px 0px 0px;*/
/*top right bottom left */
            }
            .oldvideo {
                position: relative;
                /*padding: 0px 0px 0px 0px;*/
            }

.sticky {
  position: sticky; 
  top: 0;
}

.reftext {
  color: cadetblue;
font-family: 'Raleway', sans-serif;
}